html {
	background-color:#9AD9FF;
	font-family: Copperplate, "Courier New";
}

h1 {
	background-color: green;
	font-family: Copperplate, "Courier New";
}

h2 {
	background-color: green;
	font-family: Copperplate, "Courier New";
}

h3 {
	background-color: green;
	font-family: Copperplate, "Courier New";
}